body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.link, .subtitle, .title {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    
}
.title{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}
.link{
    text-align: center;
}
.subtitle{
    margin-left: 2em;
}